h1,
p {
  font-family: Lato;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.dark {
  width: 60%;
  min-height: 200px;
  background-color: gray;
  color: white;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light {
  width: 60%;
  min-height: 200px;
  background-color: whitesmoke;
  color: black;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
